a {
    text-decoration: none;
    color: #D9DEE4;
  }

h1, h2, h3, h4, h5, h6 {
    color: #5BBD9C;
    font-family: 'Figtree', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Content {
    max-width: 1200px;
    margin: 0 auto;
}